@font-face {
  font-family: Azonix;
  src: url("Azonix.otf");
}
html {
	font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.scrollable-element {
  scrollbar-color: red yellow;
}
.preloaded{
	height: 100vh;
	background-color: #000;
}
.hacking-animation__text{
	color: #86c232;
	font-size: 20px;
}
.preloaded .afterloaded{
  visibility: hidden;
}

.loaded .preload{
  display: none;
}

.loaded .afterloaded{
  visibility: visible;
  /* display: block; */
	min-height: 100vh;
}

.hidden{
  display: none;
}
.block{
  display: block;
}
.mobile-nav-bar{
  width: 100vw;
}
#title{
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  /* background: url("hero3.webp"); */

}

.ecell-logo{
	display: inline;
}

.heading{
	width: 80%;
	margin: auto;
}
.heading h1{
	text-shadow: 0 0 20px #86c232;
	letter-spacing: 10px;
	text-align: center;
	color: #fff;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 500;
	font-size: 5rem;
}
.smlogos{
	padding-left: 20px;
}
.socialmedia li{
	list-style: none;
	padding-bottom: 10px;
}
.socialmedia li a{
	font-size: 25px;
	color: #86c232;
}
.socialmedia p{
	text-align: center;
	font-size: 30px;
	color: #86c232;
}
/* .head-container{
} */
.sub-container{
	padding-top: 2%;
	width: 100%;
}
.register-now{
  display: block;
  text-align: center;
}
.discord-btn{
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 1.5px;
  transition: 0.2s;
}

.discord-btn:hover{
  transform: scale(1.1);
}
.event-details{
	padding-top: 2%;
	width:20%;
	margin: 0 auto;
	text-align: justify;
}
.event-details p{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}


.hacking-animation {
    background: #000;
    height: 100%;

    &__text {
        bottom: 0;
        font-family:monospace;
				font-size:18px;
        left: 0;
        line-height: 1.5rem;
        padding: 2rem;
        position: absolute;
        right: 0;
    }

    &__character {
        animation: type 500ms linear;
        color: #86c232;
    }
}

@keyframes type {
    0% {
        background: #FFF;
        color: #FFF;
    }

    5% {
        background: transparent;
        color: #FFF;
    }

    100% {
        background: transparent;
        color: #00a000;
    }

}
.nav-item{
  text-align: center;
}
.nav-link{
  color: white;
  text-decoration: rgb(134, 194, 50);
  padding-bottom: 2%;
  font-family: 'Barlow Semi Condensed', sans-serif;  
}
.nav-link:hover{
  color: white;
  border-bottom: 2px solid #597039; 
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #597039;
	opacity: 90%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.applybtn{
	padding: 1rem 2rem;
	background-color: #86c232;
	color: #222629;
	font-weight: bold;
	font-size: 1.4rem;
}
.sidebar a {
  text-align: left;
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FAFAFA;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .navlks{
	padding-top: 100px;
}

.navl h2{
	font-size: 22px;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.navl h2:after {
    display: block;
    height: 3px;
    background-color: #86c232;
    content: " ";
    width: 70px;
    margin-top: 28px;
}
.sidebar .closebtn {
	/* background-color: white; */
	color: black;
	/* border-radius: 100%; */
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-right: 10px;
}

.openbtn {
	position: absolute;
	top: 40px;
	right:40px;
	display: inline;
  font-size: 25px;
  cursor: pointer;
  background-color: #060706;
  color: white;
  padding: 0 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  text-align: right;
  transition: margin-right .5s;
  padding: 16px;
}

.countdown{
	text-align: center;
	padding-top: 80px;

}
.countdown h2{
  font-size: 2.5rem;
	color: white;
	font-family: 'Barlow Semi Condensed', sans-serif;
	padding-bottom: 20px;
	color: #86c232;
  text-shadow: 0 0 20px #373a37;
}
#timer {
    font-size: 3em;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 20px #86c232;
}

#timer div {
    display: inline-block;
    min-width: 90px;
}

#timer div span {
    color: #86c232;
    display: block;
    font-size: .35em;
    font-weight: 400;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}








/* about */

#about{
	position: relative;
	padding-top: 200px;
	width: 100%;
  min-height: 100vh;
  background: url("sec2.webp");
}

.neon-box{
	height: 70vh;
	width: 80%;
	border-top-right-radius: 5%;
	border-bottom-left-radius: 5%;
	box-shadow: 0 0 20px #fff;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #86c232;
	opacity: 65%;
}
.abh{
  margin-left: 5%;
  width: 80%;
}
.about-hack{
	position:absolute;
	top: 25%;
}
.about-hack h2{
	padding-top: 40px;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 40px;
	text-shadow: 0 0 20px #474b4f;
	color: #222629;
	padding-bottom: 50px;
}

.about-hack p{
	line-height: 1.5;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: 'Montserrat';
	padding-left: 14%;
	width: 85%;
	color: white;
	padding-bottom: 80px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track /
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/ Handle */
::-webkit-scrollbar-thumb {
  background: #86c232;
  border-radius: 10px;
}



.event-timings{
  width: 80%;
  margin-left: 0;
}
.hackic{
  font-size: 5rem;
	color: #222629;
	/* text-shadow: 0 0 20px #fff; */
}
.hkicons{
  padding-top: 20px;
  text-align: right;
}
.icns-text{
  text-align: left;
	padding-top: 10px;
	text-shadow: 0 0 20px #86c232;
	color: #fff;
}
.event-brochure{
  padding-top: 5%;
  padding-bottom: 5%;
}
.brochure-btn{
  margin-right: 25%;
  margin-left: 25%;
}

/* themes */

#themes{
	font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
	/* padding-top: 100px; */
	width: 100%;
  min-height: 100vh;
  background: url("sec3.webp");
  background-size: 100% 100%;
}

.sec-head{
	padding-bottom: 50px;
}
.sec-head h2{
  padding-top: 3%;
	font-size: 70px;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}
.yt-link{
  transition: 0.2s;
}
.empty-card{
  background-image: inherit;
}
.yt-link:hover{
  transform: scale(1.1);
}

.sec-head h5{
  padding-top: 3%;
	font-size: 30px;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}

.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}
.cardrow{
  display: flex;
   flex-wrap: wrap;
}
.cardrow > div[class*='col-'] {
  display: flex;
}
.ytlogo{
  transition: 0.2s;
}
.ytlogo:hover{
  font-size: 6rem;
}
.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
	background-color: black;
  cursor: pointer;
  width: calc(25% - 2rem);
  min-width: calc(25% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 3rem;
  position: relative;
}

.event-brochure{
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}
.card-txt{
  text-align: justify;
  color: #86c232;
}
.card1{
  
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0.6)), url('android1.webp');
}
.card2{
	 background-image: linear-gradient(rgba(134, 194, 50,.1), rgba(134, 194, 50,0.6)), url('full.webp');
}
.card3{
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0.6)), url('front.webp');
}
.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
.front p{
	padding-top: 30px;
}
.back p{
	padding-top: 30px;
}
.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25; */
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: inherit;
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.back .button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul{
    margin: 0;
}

.timeline ul {
  background: white;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: white;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #86c232;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #86c232 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #86c232;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: radial-gradient(#525252,#86c232);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(50px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-50px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 767px) {
	.arrow{
		position: absolute;
		top: 5%;
		right:10%;
		transform: translate(-30%,-30%);
}
.timeline ul li {
	margin-left: 10px;
}
.timeline ul li div {
	width: calc(100vw - 130px);
}
.timeline ul li:nth-child(even) div {
	left: 45px;
}
.timeline ul li:nth-child(even) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #86c232 transparent transparent;
}
}





/* footer */
#footer-contact{
	background-color: #141614;
}
#footer-contact a {
  color:#fff;
  text-decoration:none;
}
footer {
	z-index: 3;
  width:99.4vw;
  position:relative;
  bottom:0px;
  background-color: #141614;
}
footer div {

  margin: 5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
footer svg {
  width:100%;
  overflow:hidden;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #86c232;
}
.drop {
  fill: #86c232;
  animation: drop 3.2s linear infinite normal;
  stroke: #86c232;
  stroke-width:0.5;
  transform: translateY(25px) ;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
}
.drop4 {
  animation-delay: 1.7s;
}
.drop5 {
  animation-delay: 2.7s;
  animation-duration:3.1s;
}
.drop6 {
  animation-delay: -2.1s;
  animation-duration:3.2s;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
.sec-between img{
  transition: transform .2s;
}

.sec-between img:hover{
  transform: scale(1.2);
}
@keyframes drop {
  0% {
    transform: translateY(25px);
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1);
  }
  70% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-10px) scale(.1);
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}

#faqs{
  background-image: url(./Confetti-Doodles.svg);
  padding-bottom: 10%;
  
}


.container-faq {
  width: 60%;
  margin: 0 auto;
}


.accordion{
  width: 100%;
  padding: 0 5px;
  border: 2px solid #82c632;
  cursor: pointer;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  
}

.accordion i {
  color: #82c632;
  transition: all .5s ease-in;
}
.accordion .fa-minus{
  display: none;
}
.active, .accordion:hover{
  background-color: #82c632;
  color: white;
  transition: all .5s ease-in;
  border: 2px solid #82c632;
}
.active .fa-minus{
  display: block;
}
.active .fa-plus{
  display: none;
}
.accordion h5{
  font-size: 20px;
  margin: 0;
  color: white;
  padding-left: 5px;
}
.active i, .active h5 , .accordion:hover i , .accordion:hover h5{
  color: white;
}
.panal{
  padding: 0 15px;
  border-left: 1px solid #82c632;
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  transition: all .2s ease-in;
  max-height: 0;
  color: white;
}
#prizes{
  background-image: url("./Confetti-Doodles.svg");
  padding-bottom: 100px;
}
.prize-card{
  
  border-radius: 30%;
  box-shadow: 5px 10px #000;
  padding-top: 20px;
  background-image: inherit;
  transition: 0.2s;
}
.all-prizes{
  background-image: inherit;
  
}
.card-header{
  background-color: #141614;
}
.prize-card:hover{
  transform: scale(1.1) ;
}
.theme-title{
  font-size:2.5rem;
  text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}
.gmedal{
  font-size: 5rem;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: gold;
}
.smedal{
  font-size: 5rem;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: silver;
}
.prize-amount{
	text-align: left;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}
.prize-amount h4{
  font-size: 2.2rem;
}

.prize-amount h6{
  font-size: 1.2rem;
}

/*SPEAKERS*/
#speakers{
  background-image: url("./Confetti-Doodles.svg");
  padding-bottom: 100px;
}
.card-deck-bottom{
  width: 80%;
  margin: auto;
}
.card-deck-top{
  width: 60%;
  margin: auto;
}
.speaker-photo{
  padding-top: 5%;
  width: 60%;
  margin: auto;
  border-radius: 100%;
}
.empty-card{
  min-height: 0;
  height: 0;
}
.speaker-card{
  background-image: inherit;
  border-radius: 10%;
  box-shadow: 5px 10px black;
  height: 60%;
}
.speaker-details{
  text-align: center;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}
.card-title{
  font-size: 2rem;
}
.card-text{
  font-size: 1.5rem;
}

#side-events{
  background-image: url("./images/Confetti-Doodles.svg");
  padding-bottom: 10%;
}
.event-div{
  text-align: center;
}
.side-img{
  width:70%;
  height: auto;
}
/*SPONSORS*/
#sponsors{
  background-image: url("./Confetti-Doodles.svg");
  padding-bottom: 5%;
  /* padding-top: 5%; */
}

.sec-between{
  padding-top: 3%;
}
.title-sponsor{
  width:90%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}
.platinum-sponsor{
  width:90%;
  margin: auto;
  vertical-align: middle;
  padding-top: 4%;
  text-align: center;
}

.silver-sponsor{
  width:90%;
  margin: auto;
  padding-top: 4%;
  text-align: center;
  vertical-align: middle;
}

.gold-sponsor{
  width:90%;
  margin: auto;
  padding-top: 4%;
  text-align: center;
  vertical-align: middle;
}
.sponsors-title {
  margin: 0;
  margin-right: 0;
}
.sponsors-title h2{
  text-align: center;
  font-size: 4rem;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}
/* Responsive footer */

.footer-distributed{
	background-color:#141614;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */


.footer-distributed h3 span{
	color:  #86c232;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
  font-family: 'Montserrat', sans-serif;
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
  padding-right: 10px;
}

.footer-distributed .footer-links a:hover{
	border-bottom: 2px solid #86c232;
}
.footer-distributed .footer-company-name{
  font-family: 'Montserrat', sans-serif;
	color:  #86c232;
	font-size: 17px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #86c232;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
  font-family: 'Montserrat', sans-serif;
	display: inline-block;
	color: #e8eef2;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:17px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #86c232;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  display: inline-block;
  padding-right: 15px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
  font-family: 'Montserrat', sans-serif;
	line-height: 20px;
	color:  #e8eef2;
	font-size: 17px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #e8eef2;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
  color: #86c232;
  
}
.footer-distributed .footer-icons a i{
  transition: 0.2s;
}
.footer-distributed .footer-icons a i:hover{
  color: #fff;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 25px;
	
	text-align: center;
	line-height: 35px;
  
	margin-right: 3px;
	margin-bottom: 5px;
  
}


@media screen and (max-width: 992px) {

}
@media screen and (max-width: 767px){
  .footer-distributed{
    font: bold 18px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .about-event p{
    font-size: 10px;
  }
}


.contact-list{
	padding-top: 30px;
	padding-bottom: 10px;
}


.head-img{
  opacity: 70%;
  padding-top: 5%;
  width: 20%;
  display: block;
  margin: auto;
  padding-bottom: 5%;
  
}


.side-img:hover{
  background-image: none;
  opacity: 0.3;
}
.side-event-head{
  width: 60%;
}
.side-event-head h2{
  padding-top: 3%;
	font-size: 70px;
	text-align: right;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}

.presents{
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  text-align: center;
  font-family: 'Azonix', sans-serif;
}

.side-event-container {
  position: relative;
  transition: 0.5s ease;
}

.side-img{
  border-radius: 5%;
  height: 80%;
  width: 90%;
  margin-bottom: 100px;
  box-shadow: 5px 10px #00FF1A;
  
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.side-event-container:hover .image {
  opacity: 0.3;
}

.side-event-container:hover .middle {
  opacity: 1;
}

.text {
  font-family: 'Azonix', sans-serif;
  color: white;
  font-size: 1rem;
}
.exp-now{
  font-family: 'Azonix', sans-serif;
  border-color: #00FF1A;
  border-radius: 2%;
  background-color: #00FF1A;
  transition: 0.5s ease;
  color: black;
}
.exp-now:focus{
  
  border-color: #00FF1A;
  border-radius: 2%;
  background-color: #00FF1A;
  transition: 0.5s;
  color: black;
}
.exp-now:active{
  
  border-color: #00FF1A;
  border-radius: 2%;
  background-color: #00FF1A;
  transition: 0.5s;
  color: black;
}
.side-head-container{
  padding-top: 4%;
}
.exp-now:hover{
  transform: scale(1.1);
  border-color: #9dff00;
  border-radius: 20%;
  background-color: #9dff00;
  color: black;
}
.back-now:focus{
  border-color: #00FF1A;
  background-color: black;
  transition: 0.5s;
  color: #00FF1A;
}
.back-now:active{
  border-color: #00FF1A;
  background-color: black;
  transition: 0.5s;
  color: #00FF1A;
}

.back-now{
  font-family: 'Azonix', sans-serif;
  border-color: #00FF1A;
  border-radius: 2%;
  background-color: black;
  transition: 0.5s ease;
  color: #00FF1A;
}
.back-now:hover{
  transform: scale(1.1);
  border-color: #00FF1A;
  background-color: #00FF1A;
  transition: 0.5s;
  color: black;
}

.main-event-box{
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5%;
  background-color: rgba(0,255,26,0.3);
}
.event-image{
  
  height: 80%;
  width:70%;
  display: block;
  margin: auto;
  border-radius: 5%;
  box-shadow: 5px 10px #00FF1A;
}
.event-title-here{
  padding-top: 3%;
}
.event-title-here h2{
	font-size: 70px;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}
.sec-heding{
  padding-bottom: 4%;
  font-size: 2vw;
  text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
	color: #fff;
}
.about-event{
  padding-top: 3%;
  width: 70%;
  margin: auto;
}
.about-event p{
  text-transform: uppercase;
  text-align: justify;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
  font-weight: bold;
}
#event-my-id{
  background-image: url("./images/Confetti-Doodles.svg");
  padding-top: 6%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 10%;
}

.side-event-back{
  margin: 0;
  background-color: #141614;
}
.medal-side{
  width: 60%;
  margin: auto;
  font-size: 4vw;
	text-align: left;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-shadow: 0 0 20px #82c632;
}
.user{
  padding-top: 1vw;
  width: 60%;
  margin: auto;
  font-size: 4vw;
	text-align: left;
}
.partuser{
  color: #00FF1A;
}

.participation{
  vertical-align: middle;
  color: white;
  padding-left: 2vw;
  font-size: 2vw;
  font-family: 'Azonix', sans-serif;
}
.goldmedal{
  color: gold;
}
.silmedal{
  padding-left: 10vw;
	color: silver;
}
.pmoney-side{
  padding-bottom: 1vw;
  padding-left: 3vw;
  font-size: 3vw;
  font-family: 'Azonix',sans-serif;
  color: white;
}
@media screen and (max-width: 480px){
  .card-deck-top{
    width: 80%;
    margin: auto;
  }
  .about-event{
    width: 90%;
  }
  .medal-side{
    width: 90%;
  }
  .user{
    padding-top: 5%;
    width: 90%;
  }
  .main-event-box{
    padding-bottom: 20%;
  }
  #event-my-id{
    padding-bottom: 20%;
  }
  .text{
    font-size: 15px;
  }
  .event-image{
    width:80%;
  }
  .about-event{
    padding-top: 3%;
    width: 80%;
    margin: auto;
  }
  .about-event p{
    font-size: 20px;
    line-height: 30px;
  }
  .prize-card{
    margin: auto;
  }
  .vertical-space-sponsors{
    padding-top: 4%;
    padding-bottom: 9%;
  }
	@keyframes wave {
	  to {transform: translateX(-100%);}
	}
  #title{
    background-image: none;
    background-color:rgba(0, 0, 0, 0.12);
  }
	.eclogo{
		padding-top: 20px;
		max-height: 100px;
		max-width: auto;
	}
	.heading{
		padding-top: 50px;
	}
	.heading h1{
		font-size: 50px;
		letter-spacing: 5px;
	}
	.sub-container{
		width: 80%;
		margin: auto;
    text-align: center;
	}
  .applybtn{
    font-size: 1rem;
  }
	.countdown h2{
		padding-top: 10px;
		font-size: 30px;
		padding-bottom: 0;
	}
	#timer{
		font-size: 2rem;
	}
	#timer div span{
		font-size: 0.35rem;
	}
	.smlogos{
    position: relative;
		/* padding-left: 5px; */
		padding-top: 35%;
		font-size: 12px;
	}
	.socialmedia p{
		visibility: hidden;
	}
	.socialmedia li{
		display: inline;
		padding-right: 20px;
	}
  #about{
    padding-bottom: 10%;
  }
	.about-hack{
		top: 10%;
	}
	.about-hack h2{
		font-size: 25px;
		padding-top: 5%;
		padding-bottom: 20px;
	}
	.about-hack p{
		padding-top: 0;
		font-size: 0.75rem;
		width: 85%;
    text-align: justify;
	}
	.icns-text h3{
    text-align: center;
		font-size: 1rem;

	}
  .hkicons{
    text-align: center;
  }
  .hackic{
    font-size: 3rem;
  }
	.icns-text h4{
    text-align: center;
		font-size: 0.8rem;
	}
	.about-hack p{
		padding-bottom: 10px;
	}
	.neon-box{
		height: 97vh;
	}
	#about{
		padding-top: 80px;
	}
	.icns-text{
		padding-bottom: 30px;
	}
  .speaker-card{
    height: 65%;
    margin: auto;
  }
  .pmoney-side{
    font-size: 5vw;
  }
  .sec-heding{
    
    font-size: 7vw;
    padding-left: 0;
  }
  .participation{
    font-size: 5vw;
  }
  
}